/* Ensure html and body take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper for the entire page */
.wrapper {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

/* Main content of the page */
.main-content {
  flex: 1; /* Allow this to take up available space, pushing footer down */
}

/* Footer styles - always at the bottom */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 10%;
  position:fixed;
  bottom: 0;
  left: 0;
}
